.nav {
  height: 50px;
  display: flex;
  justify-content: space-between; /* Changed from "space-around" */
  align-items: center; /* Added for vertical centering */
  background: #ffffff; /* Fixed background color */
  color: rgb(75, 73, 73);
  border-bottom: 1px solid rgb(204, 204, 204);
  box-shadow: 0px 1px 6px rgb(184, 182, 182);
  position: fixed; /* Fixed position to make it sticky */
  width: 100%; /* Fixed width to span the full viewport */
  top: 0; /* Position the navigation bar at the top of the viewport */
  z-index: 999;
}

.logo {
  padding: 11px;
  font-size: 1.05em;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
}

.logo a {
  color: rgb(241, 49, 43);
  text-decoration: none;
}

.logo:hover {
  cursor: pointer;
}

.Link-Container {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Link-Container a {
  font-size: 0.87em; /* Corrected the font size unit */
  font-weight: 500;
  padding: 0.4rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  letter-spacing: 0.07rem;
  word-spacing: 0.07rem;
}

.Link-Container a:hover {
  padding: 0.45rem 1rem; /* Corrected the padding value */
  background-color: #dddddd;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  color: inherit;
}
